doctype html
html(data-ng-app="NE")
  head
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="icon" href="/app/assets/images/favicon.ico")
    link(rel='StyleSheet', href='/app/assets/stylesheets/style.css', type='text/css')
    //- link(rel='StyleSheet', href='/app/assets/stylesheets/prism.css', type='text/css')
    link(rel='StyleSheet', href='/app/assets/stylesheets/animate.css', type='text/css')
    link(rel='StyleSheet', href='/app/assets/stylesheets/buttons.css', type='text/css')
    link(rel='StyleSheet', href='/app/assets/stylesheets/loading-bar.css', type='text/css')
    //- script(src="/app/assets/javascripts/prism.js", type="text/javascript")
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.min.js')
    script(type='text/javascript', src='//cdn.rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.min.js')
    script(type='text/javascript', src='/app/assets/javascripts/angular-timeago.js') 
    script(type='text/javascript', src='/app/assets/javascripts/ng-infinite-scroll.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/highcharts/4.0.3/highcharts.js')
    script(type="text/javascript", src="/app/assets/javascripts/loading-bar.js")
    script(type='text/javascript', src='/app/assets/javascripts/highcharts-ng.js')
    script(type='text/javascript', src='/app/assets/javascripts/qrcode.js')     
    script(type='text/javascript', src='/app/assets/javascripts/monospace-qrcode.js')
    script(type='text/javascript', src='/app/config/config_routes.js')
    script(type='text/javascript', src='/app/factories/function_factory.js')
    script(type='text/javascript', src='/app/factories/currency_factory.js')
    script(type='text/javascript', src='/app/factories/page_factory.js')
    script(type='text/javascript', src='/app/factories/chart_factory.js')
    script(type='text/javascript', src='/app/factories/api_factory.js')
    script(type='text/javascript', src='/app/factories/ws_factory.js')
    script(type='text/javascript', src='/app/factories/block_factory.js')
    script(type='text/javascript', src='/app/factories/mv_factory.js')
    script(type='text/javascript', src='/app/factories/ol_factory.js')
    script(type='text/javascript', src='/app/factories/tx_factory.js')
    script(type='text/javascript', src='/app/factories/address_factory.js')
    script(type='text/javascript', src='/app/factories/nav_factory.js')
    script(type='text/javascript', src='/app/factories/status_factory.js')
    script(type='text/javascript', src='/app/factories/form_factory.js')
    script(type='text/javascript', src='/app/controllers/status.controller.js')
    script(type='text/javascript', src='/app/controllers/blocks.controller.js')
    script(type='text/javascript', src='/app/controllers/address.controller.js')
    script(type='text/javascript', src='/app/controllers/nav.controller.js')
    script(type='text/javascript', src='/app/controllers/form.controller.js')
    script(type='text/javascript', src='/app/controllers/currency.controller.js')
    script(type='text/javascript', src='/app/controllers/mv.controller.js')
    script(type='text/javascript', src='/app/controllers/ol.controller.js')
    script(type='text/javascript', src='/app/controllers/tx.controller.js')
    script(type='text/javascript', src='/app/controllers/chart.controller.js')
    script(type='text/javascript', src='/app/core.js')
    
    meta(charset='utf-8')
    meta(name='msvalidate.01', content='231E46D22B2414369920D94A539E8E76')
    title
  body
    include ../static/base.html
    