


#blockHeader{

 
    margin-top: 181px;
    margin-bottom: 20px;
    height: 80px;
    padding-top: 1px;    
    text-shadow: 0px 1px #EEEEEE;
    font-family: 'Roboto', sans-serif;
    background-color: none;
    color:  #00a1cb;  
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #00a1cb;



}
#buttons{

float:right;
margin-bottom: 0.5%;
}
#notice{

width:100%;
text-align: center;
height: 32px;
font-family: 'Roboto', sans-serif;
line-height: 32px;
vertical-align: middle;
color:#6E6E6E;
background-color: #E0E0E0;
float: left;

}
#liveBlock { 

	width: 100%;
    
	
}
#blockRow{

border-color:none;
text-indent:5px;
height:36px;

}
#blockRow:hover{ 

background-color:none;


}
.blockRow{

border-color:none;
text-indent:5px;
height:36px;

}
.blockRow:hover{ 

background-color:#F0F0F0;


}

#blockInfo{

color:#404040;

}
.tableDet{
    font: 80% 'Roboto', sans-serif;
}

#liveHeader{
	
	height:36px;
    background-color: none;
    font: 80% 'Roboto', sans-serif;
    text-indent:5px;
    color:  #00a1cb;    
    font: 75% 'Roboto', sans-serif;
		
	
	
	}
#txInfo { 
color:#404040;
}

.txGranted{
    
    font: 80% 'Roboto', sans-serif;
    -o-text-overflow: ellipsis;   /* Opera */
    text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
    overflow:hidden;              /* don't show excess chars */
    white-space:nowrap;           /* force single line */
    max-width: 150px;                 /* fixed width */
    
    
}

hr{
    width: 25%;
    color: #DBDBDB;
    opacity: 0.5;
}

.notice{
    font: 75% 'Roboto', sans-serif;
}
#divallBlocks{
 width: 97px;
 margin: 0 auto;
}

#allBlocks{
    margin-bottom: 100px;
    height: 30px;
    background-color: #088AE7;
    font: 75% 'Roboto', sans-serif;
    color: #FFFFFF;
    text-shadow: 0px 1px #006AA6;
    border: none;
    display: inline-block;
    
}
#allBlocks:hover{
    background-color: #2198ED;
    
}
#allBlocks:active{
    background-color: #088AE7;
}
.totOutputHome{
    
    
	background: #b7ffb9; /* Old browsers */
background: -moz-linear-gradient(top, #b7ffb9 1%, #11d617 3%, #29ce10 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#b7ffb9), color-stop(3%,#11d617), color-stop(100%,#29ce10)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #b7ffb9 1%,#11d617 3%,#29ce10 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #b7ffb9 1%,#11d617 3%,#29ce10 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #b7ffb9 1%,#11d617 3%,#29ce10 100%); /* IE10+ */
background: linear-gradient(to bottom, #b7ffb9 1%,#11d617 3%,#29ce10 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7ffb9', endColorstr='#29ce10',GradientType=0 ); /* IE6-9 */
    
    
	border-radius: 3px;
	font: 75% 'Roboto', sans-serif;
	color: #FFFFFF;
	height: 32px;
	border: 1px solid #0A902B;
	text-shadow: 0px 1px #0A902B;

	}
.totOutputHome:hover{
	background: #b7ffb9; /* Old browsers */
background: -moz-linear-gradient(top, #b7ffb9 1%, #12ed12 3%, #36db11 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#b7ffb9), color-stop(3%,#12ed12), color-stop(100%,#36db11)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #b7ffb9 1%,#12ed12 3%,#36db11 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #b7ffb9 1%,#12ed12 3%,#36db11 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #b7ffb9 1%,#12ed12 3%,#36db11 100%); /* IE10+ */
background: linear-gradient(to bottom, #b7ffb9 1%,#12ed12 3%,#36db11 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7ffb9', endColorstr='#36db11',GradientType=0 ); /* IE6-9 */
	}
.totOutputHome:active{
	background: #b7ffb9; /* Old browsers */
background: -moz-linear-gradient(top, #b7ffb9 1%, #11d617 3%, #29ce10 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#b7ffb9), color-stop(3%,#11d617), color-stop(100%,#29ce10)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #b7ffb9 1%,#11d617 3%,#29ce10 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #b7ffb9 1%,#11d617 3%,#29ce10 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #b7ffb9 1%,#11d617 3%,#29ce10 100%); /* IE10+ */
background: linear-gradient(to bottom, #b7ffb9 1%,#11d617 3%,#29ce10 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7ffb9', endColorstr='#29ce10',GradientType=0 ); /* IE6-9 */

	-webkit-box-shadow: inset 0px 0px 3px #585858;
	box-shadow: inset 0px 0px 2px #585858;
	}
                            
#pagerDiv{
width: 95%;
float: left;
clear: both;
margin-bottom: 20px;
}
#textGo{
    
    
   height: 32px;
   box-sizing: border-box;
    width: 46px;
     border-radius: 3px;
	font: 80% 'Roboto', sans-serif;
    border: 1px solid #004C8C;
	text-indent: 3px;
    
}
.page{
    
  background: #afd0ff; /* Old browsers */
background: -moz-linear-gradient(top, #afd0ff 2%, #2daeff 5%, #2391ff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#afd0ff), color-stop(5%,#2daeff), color-stop(100%,#2391ff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #afd0ff 2%,#2daeff 5%,#2391ff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #afd0ff 2%,#2daeff 5%,#2391ff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #afd0ff 2%,#2daeff 5%,#2391ff 100%); /* IE10+ */
background: linear-gradient(to bottom, #afd0ff 2%,#2daeff 5%,#2391ff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afd0ff', endColorstr='#2391ff',GradientType=0 ); /* IE6-9 */
	
    
    border-radius: 3px;
	font: 80% 'Roboto', sans-serif;
	color: #FFFFFF;
	height: 32px;
	border: 1px solid #004C8C;
	text-shadow: 0px 1px #0060B1;
    margin: 3px 3px 3px 0px;
    
    

    
    
}
.page:hover {
    
    background: #afd0ff; /* Old browsers */
background: -moz-linear-gradient(top, #afd0ff 2%, #4cbaff 5%, #3d9eff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#afd0ff), color-stop(5%,#4cbaff), color-stop(100%,#3d9eff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #afd0ff 2%,#4cbaff 5%,#3d9eff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #afd0ff 2%,#4cbaff 5%,#3d9eff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #afd0ff 2%,#4cbaff 5%,#3d9eff 100%); /* IE10+ */
background: linear-gradient(to bottom, #afd0ff 2%,#4cbaff 5%,#3d9eff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afd0ff', endColorstr='#3d9eff',GradientType=0 ); /* IE6-9 */


}
.page:active {
    
background: #afd0ff; /* Old browsers */
background: -moz-linear-gradient(top, #afd0ff 2%, #2daeff 5%, #2391ff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#afd0ff), color-stop(5%,#2daeff), color-stop(100%,#2391ff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #afd0ff 2%,#2daeff 5%,#2391ff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #afd0ff 2%,#2daeff 5%,#2391ff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #afd0ff 2%,#2daeff 5%,#2391ff 100%); /* IE10+ */
background: linear-gradient(to bottom, #afd0ff 2%,#2daeff 5%,#2391ff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afd0ff', endColorstr='#2391ff',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: inset 0px 0px 3px #585858;
	box-shadow: inset 0px 0px 2px #585858;
	
    
}
.page:disabled{
    
background: #356aa0; /* Old browsers */
background: -moz-linear-gradient(top, #356aa0 0%, #356aa0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#356aa0), color-stop(100%,#356aa0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #356aa0 0%,#356aa0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #356aa0 0%,#356aa0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #356aa0 0%,#356aa0 100%); /* IE10+ */
background: linear-gradient(to bottom, #356aa0 0%,#356aa0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#356aa0',GradientType=0 ); /* IE6-9 */
  
    
}