<LINK REL=StyleSheet HREF="/app/assets/stylesheets/allPeersStyle.css" TYPE="text/css" >
<div data-ng-controller = "AllPeersController">
<div id="blockHeader">
    <h1>Nodes</h1>
</div>
<div id="toTop" scroll-to-item scroll-to="#liveBlock"><i style="color:#088AE7;"class="fa fa-chevron-up fa-2x"></i></div>
<table  id="liveBlock" infinite-scroll='go(pageIndex,numPeers)' infinite-scroll-distance='1' infinite-scroll-disabled = 'infScroll' rules="none">
              <tr id="liveHeader" colspan=5>
                <td >IP Address</td>
                <td>Port</td>
                <td style="text-align:center;">Last Relay</td>
                <td style="text-align:center;">Version</td>
                <td style="text-align:center;">Client</td>
                <td style="text-align:center;">Country</td> 
              </tr>         
            <tbody id='blockInfo' data-ng-repeat="info in peers">
            <tr class="blockRow">
            <td class="tableDet">{{info._id}}</td>
            <td class="tableDet">{{info.port}}</td>
            <td class="tableDet" style="text-align:center;">{{info.lastsend*1000 | timeAgo}}</td>
            <td class="tableDet" style="text-align:center;">{{info.version}}</td>
            <td class="tableDet" style="text-align:center;">{{info.client}}</td>
            
            <td class="tableDet" style="text-align:center;">{{info.country_code}}</td>
            </tr>
           
            </tbody>
        
            
        </table>
<div id="loadingDiv" ng-show="isLoading" ><i style="color:#088AE7;" class="fa fa-circle-o-notch fa-spin fa-2x"></i></div>
<!-- <div id="pagerDiv" ng-show="false" >
    <div id="pagesDiv">
    
    <button class="page" data-ng-if="start > 1" data-ng-click="go(1)">First</button>
    <button class="page" data-ng-if="start > 1" data-ng-click="go(start-1)" >Prev</button>
    <button class="page" data-ng-repeat="num in pages" data-ng-disabled="start===num" data-ng-click="go(num)">{{num}}</button>
    <button class="page" data-ng-if="start < (lastPage-5)" data-ng-click="go(start+1)" >Next</button>
    <button class="page" data-ng-if="start < (lastPage-5)" data-ng-click="go(lastPage)">{{lastPage}}</button>
    <span><form name="formGo" data-ng-submit="go(textGo)" novalidate>
        <input  data-ng-model="textGo" id="textGo" type="text" data-ng-pattern="/^[0-9]*$/" required/> 
        <input  type='submit' class="page" value="Go"/>
    </form></span>
    </div>
</div> -->
</div>